:root {
  --margin-vertical: 6rem;
  --default-font-size: 1.6rem;
  --yellow-color: #ffb900;
  --orange-color: #f76f26;
  --dark-blue-color: #5643fa;
  --light-blue-color: #2998ff;
  --light-green-color: #90ee90;
  --dark-green-color: #006400;
}
